#navbar{

    background-color: #89ba16;
    position: sticky;
    top: 0;
    z-index: 100;

}

.contacto{

    width: 40px;
    filter: invert();

}

#navbar-titulo{

    color: white; 
    font-size: 30px;
    font-family: 'Francois One', sans-serif;

}

#titulo{

    background-color: #fd7322;
    width: 40%;
    margin: 50px;
    margin-top: -125px;
    padding: 20px;
    color: white;
    font-family: 'Francois One', sans-serif;
    position:relative;
    z-index: 1;

}

#img1{
    
    z-index: 0;
    position:relative;
    height: 400px;
    width: 60%;
    filter: grayscale();
    margin: 30px;
    object-fit: cover;
    object-position: 0 60%;

}

p{

    width: 55%;
    margin: 80px;
    text-align: justify;
    font-family: 'Padauk', sans-serif;
    font-size: 20px;

}

.negrita{

    font-weight: bold;

}

.imgDer{

    display: block;
    margin: 100px;
    margin-left: auto;
    margin-top: -350px;
    width: 20%;
    box-shadow: 15px 15px #fd7322;

}

#img2{

    position: relative;
    display: block;
    margin-left: auto;
    z-index: 0;
    margin-right: 100px;
    width: 60%;
    filter: grayscale();

}

#titulo2{

    background-color: #fd7322;
    width: 30%;
    margin: 50px;
    margin-left: 800px;
    margin-top: -50px;
    padding: 20px;
    color: white;
    font-family: 'Francois One', sans-serif;
    position:relative;
    z-index: 1;
    
}

.derecha{

    margin-left: auto;

}

.imgIzq{

    margin: 100px;
    width: 20%;
    margin-top: -350px;
    box-shadow: -15px 15px #fd7322;

}